body{
    background-image: url("https://i.pinimg.com/736x/7d/a8/83/7da883ee42dacdf2d4b026a6496d2a6b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap {
  position: relative;
  width: 100%;
  height: 900px; 
  overflow: hidden;
}

.bloom {
  height: 300px;
  width: 200px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation-name: fly;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  
}

@keyframes fly {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 200px - 50px);
  }
}

